<div class="shop-sidebar sidebar-style">
  {% for block in section.blocks %}
  {% case block.type %}

  {% when 'search' %}
  <div class="sidebar-widget">
    {%- if block.settings.widget_title != '' -%}
    <h4 class="pro-sidebar-title">{{ block.settings.widget_title }}</h4>
    {%- endif -%}
    <div class="pro-sidebar-search mb-50 mt-25">
      <form class="pro-sidebar-search-form" action="/search" method="get" role="search">
        <input type="hidden" name="type" value="product">
        <input type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" aria-label="{{ 'general.search.placeholder' | t }}">
        <button type="submit">
          <i class="sli sli-magnifier"></i>
        </button>
      </form>
    </div>
  </div>

  {% when 'category' %}
  <div class="sidebar-widget">
    {%- if block.settings.widget_title != '' -%}
    <h4 class="pro-sidebar-title">{{ block.settings.widget_title }}</h4>
    {%- endif -%}
    <div class="sidebar-widget-list mb-50 mt-25">
      <ul>
        {% assign categories_list_limit = block.settings.categories_list_limit_hanlde %}
        {% for c in collections limit: categories_list_limit %}
        <li {% if collection and collection.handle == c.handle %}class="active"{% endif %} >
          <div class="sidebar-widget-list-left">
            <input type="checkbox"{% if collection and collection.handle == c.handle %} checked{% endif %}> <a href="{{ c.url }}">{{ c.title }} <span>{{ c.products_count }}</span></a>
            <span class="checkmark"></span>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  {% when 'vendor' %}
  <div class="sidebar-widget">
    {%- if block.settings.widget_title != '' -%}
    <h4 class="pro-sidebar-title">{{ block.settings.widget_title }}</h4>
    {%- endif -%}
    <div class="sidebar-widget-list mt-20">
      <ul>
        {% assign vendors_list_limit = block.settings.vendors_list_limit_hanlde %}
        {% for vendor in shop.vendors limit: vendors_list_limit %}
        <li {% if collection.current_vendor == vendor %} class="active"{% endif %} >
          <div class="sidebar-widget-list-left">
            <input type="checkbox"{% if collection.current_vendor == vendor %} checked{% endif %}> <a href="{{ vendor | url_for_vendor }}">{{ vendor }}</a>
            <span class="checkmark"></span>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  {% when 'type' %}
  <div class="sidebar-widget">
    {%- if block.settings.widget_title != '' -%}
    <h4 class="pro-sidebar-title">{{ block.settings.widget_title }}</h4>
    {%- endif -%}
    <div class="sidebar-widget-list mt-20">
      <ul>
        {% assign types_list_limit = block.settings.types_list_limit_hanlde %}
        {% for type in shop.types limit: types_list_limit %}  
          {%- if type != '' -%}
            <li {% if collection.current_type == type %} class="active" {% endif %}>
              <div class="sidebar-widget-list-left">
                <input type="checkbox"{% if collection.current_type == type %} checked{% endif %}> <a href="{{ type | url_for_type }}">{{ type }}</a>
                <span class="checkmark"></span>
              </div>
            </li>
          {%- endif -%}
        {% endfor %}
      </ul>
    </div>
  </div>

  {% when 'color' %}
  <div class="sidebar-widget">
    {%- if block.settings.widget_title != '' -%}
    <h4 class="pro-sidebar-title">{{ block.settings.widget_title }}</h4>
    {%- endif -%}
    <div class="sidebar-widget-list mt-20">
      <ul>
        {% assign tags = block.settings.color_picker | replace: ', ', ',' | replace: ' ,', ',' | split: ',' %}
        {% assign colors_list_limit = block.settings.colors_list_limit_hanlde %}

        {% for t in tags limit: colors_list_limit %}
        {% assign tag = t | strip %}
        {%- if current_tags contains tag -%}
        <li class="active">
          <div class="sidebar-widget-list-left">
            <input type="checkbox" checked> <a href="/collections/all/{{ tag | handle }}">{{ tag }}</a>
            <span class="checkmark"></span> 
          </div>
        </li>
        {%- elsif collection.all_tags contains tag -%}
        <li>
          <div class="sidebar-widget-list-left">
            <input type="checkbox"> <a href="/collections/all/{{ tag | handle }}">{{ tag }}</a>
            <span class="checkmark"></span>
          </div>
        </li>
        {%- endif -%}
        {% endfor %}
      </ul>
    </div>
  </div>

  {% when 'size' %}
  <div class="sidebar-widget">
    {%- if block.settings.widget_title != '' -%}
    <h4 class="pro-sidebar-title">{{ block.settings.widget_title }}</h4>
    {%- endif -%}
    <div class="sidebar-widget-list mt-20">
      <ul>
        {% assign tags = block.settings.size_picker | replace: ', ', ',' | replace: ' ,', ',' | split: ',' %}
        {% assign size_list_limit = block.settings.size_list_limit_hanlde %}

        {% for t in tags limit: size_list_limit %}
        {% assign tag = t | strip %}
        {%- if current_tags contains tag -%}
        <li class="active">
          <div class="sidebar-widget-list-left">
            <input type="checkbox" checked> <a href="/collections/all/{{ tag | handle }}">{{ tag }}</a>
            <span class="checkmark"></span> 
          </div>
        </li>
        {%- elsif collection.all_tags contains tag -%}
        <li>
          <div class="sidebar-widget-list-left">
            <input type="checkbox"> <a href="/collections/all/{{ tag | handle }}">{{ tag }}</a>
            <span class="checkmark"></span>
          </div>
        </li>
        {%- endif -%}
        {% endfor %}
      </ul>
    </div>
  </div>

  {% when 'tag' %}
  <div class="sidebar-widget">
    {%- if block.settings.widget_title != '' -%}
    <h4 class="pro-sidebar-title">{{ block.settings.widget_title }}</h4>
    {%- endif -%}
    <div class="sidebar-widget-tag mt-25">
      <ul>
        {% assign tags_list_limit = block.settings.tags_list_limit_hanlde %}
        {% for tag in collection.all_tags limit: tags_list_limit %}
        {%- if current_tags contains tag -%}
        <li class="active"><a href="/collections/all/{{ tag | handle }}">{{ tag }}</a></li>
        {%- else -%}
        <li><a href="/collections/all/{{ tag | handle }}">{{ tag }}</a></li>
        {%- endif -%}
        {% endfor %}
      </ul>
    </div>
  </div>
  
  {% when 'recent-view' %}
  
  {% include 'recent-view' %}

  

  {% when 'menu' %}
  <div class="sidebar-widget">
    {%- if block.settings.widget_title != '' -%}
    <h4 class="pro-sidebar-title">{{ block.settings.widget_title }}</h4>
    {%- endif -%}
    <div class="sidebar-widget-list mt-20 category-sub-menu">
      <ul>
        {% assign menu = block.settings.menu_handle %}
        {% for link in linklists[menu].links %}
        {% assign childlink_handle = link.title | handle %}
        {% if linklists[childlink_handle] and linklists[childlink_handle].links.size > 0 %}
        <li class="has-sub {% if link.active %}active{% endif %}"><a href="{{ link.url }}">{{ link.title }}</a>
          <ul>
            {% for childlink in linklists[childlink_handle].links %}
            <li><a href="{{ childlink.url }}">{{ childlink.title }}</a></li>
            {% endfor %}
          </ul>
        </li>
        {% else %}
        <li class="{% if link.active %}active{% endif %}"><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>

  {% when 'banner' %}
  {% capture i %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
  <div class="sidebar-widget">
    {%- if block.settings.widget_title != '' -%}
    <h4 class="pro-sidebar-title">{{ block.settings.widget_title }}</h4>
    {%- endif -%}
    <div class="sidebar-widget mt-20">
      {% if block.settings.banner_image != blank and block.settings.banner_image_url != blank %}
      <a href="{{ block.settings.banner_image_url }}">
        <img src="{{ block.settings.banner_image | img_url: 'grande' }}" alt="{{ block.settings.banner_image.alt }}">
      </a>
      {% elsif block.settings.banner_image != blank %}
      <img src="{{ block.settings.banner_image | img_url: 'grande' }}" alt="{{ block.settings.banner_image.alt }}">
      {% else %}
      {{ 'collection-' | append: i | placeholder_svg_tag: 'banner-svg-image' }}
      {% endif %}
    </div>
  </div>
  {% endcase %}{% endfor %}
</div>



<script>
  $(".sidebar-widget ul li.active a").removeAttr("href");

  $('.category-sub-menu li.has-sub > a').on('click', function () {
    $(this).removeAttr('href');
    var element = $(this).parent('li');
    if (element.hasClass('open')) {
      element.removeClass('open');
      element.find('li').removeClass('open');
      element.find('ul').slideUp();
    } else {
      element.addClass('open');
      element.children('ul').slideDown();
      element.siblings('li').children('ul').slideUp();
      element.siblings('li').removeClass('open');
      element.siblings('li').find('li').removeClass('open');
      element.siblings('li').find('ul').slideUp();
    }
  }); 

  $(document).ready(function(){
    $(".sidebar-widget-list ul li input[type='checkbox']").change(function(){
      var item=$(this);    
      if(item.is(":checked"))
      {
        location.href = item.siblings('a').attr('href');
      }    
    }); 
  });
</script>