<div class="testimonial-area section-margin-1" id="section-{{ section.id }}">
  <div class="{% if section.settings.section_width == 'full_width' %}container-fluid {% elsif section.settings.section_width == 'box_width' %}container-fluid section-padding-1{% elsif section.settings.section_width == 'default' %}container default {% endif %}">
    <div class="row">
      <div class="col-lg-10 ml-auto mr-auto">
        <div class="testimonial-active owl-carousel nav-style-1">
          {%- for block in section.blocks -%}{%- case block.type -%}
          {%- when 'testimonial' -%}
          <div class="single-testimonial text-center">
            {% if block.settings.commentators_img %}
            <img src="{{ block.settings.commentators_img | img_url: '100x' }}" alt="{{ image.alt }}">
            {% endif %}
            <p style="{{ section.settings.comment_color }}">{{ block.settings.comments }}</p>
            <div class="client-info">
              {% if section.settings.comment_icon %}
              <img src="{{ section.settings.comment_icon | img_url: '100x' }}" alt="{{ image.alt }}">
              {% endif %}
              <h5 style="{{ section.settings.commentators_color }}">{{ block.settings.commentators }}</h5>
            </div>
          </div>
          {%- endcase -%}{%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</div>

{%- include 'section-style' -%}


{% if section.settings.testi_custom_color %}

<style>

  #section-{{ section.id }} .single-testimonial p {
    color:{{section.settings.comment_color}}
  }
  #section-{{ section.id }} .single-testimonial .client-info h5 {
    color: {{section.settings.commentators_color}}
  }

</style>

{% endif %}



<script>
  $('#section-{{ section.id }} .testimonial-active').owlCarousel({
    loop: true,
    {% if settings.rtl_enable %}
    rtl: true,
    {% endif %}
    nav: false,
    autoplay: true,
    autoplayTimeout: 5000,
    item: 1,
    margin: 30,
    responsive: {
      0: {
        items: 1,
        autoplay: true,
      },
      576: {
        items: 1
      },
      768: {
        items: 1
      },
      1000: {
        items: 1
      }
    }
  })
</script>



{% schema %}
  {
    "name": "About Testimonial",
    "settings": [
              {
                "type": "select",
                "id": "section_width",
                "label": "Section Width",
                "options":[
                      {
                          "label": "Full Width",
                          "value": "full_width"
                      },
                      {
                          "label": "Box Width",
                          "value": "box_width"
                      },
                      {
                          "label": "Default Width",
                          "value": "default"
                      }
                  ],
                  "default": "default"
              },
        {
          "type": "checkbox",
          "id": "testi_custom_color",
          "label": "Testimonial Custom Color Enable",
          "default": false
        },
		{
            "type": "color",
            "id": "comment_color",
            "label": "Comments Color",
            "default": "#333"
        },
		{
            "type": "color",
            "id": "commentators_color",
            "label": "Commentators Name Color",
            "default": "#1f2226"
        },
        {
            "type": "image_picker",
            "id": "comment_icon",
            "label": "Comment Icon"
        }
    ],
	"blocks":[
	   {
          "type": "testimonial",
          "name": "Testimonial",
          "settings": [
              {
                  "type": "image_picker",
                  "id": "commentators_img",
                  "label": "Commentator Image",
                  "info": "Recommended size: 100x100 px"
              },
              {
                  "type": "textarea",
                  "id": "comments",
                  "label": "Comments",
                  "default": "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat Duis aute irure dolor in reprehenderit."
              },
              {
                  "type": "text",
                  "id": "commentators",
                  "label": "Commentators Name",
                  "default": "Hester Perkins"
              }
          ]
       },
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 95
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 60
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }
	],
	"presets": [
		{
		  "name": "About Testimonial",
		  "category": "4. Testimonial",
		  "blocks":[
				{
					"type": "testimonial"
				},
				{
					"type": "testimonial"
				},
				{
					"type": "section_padding"
				}
			]
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}



