{% if section.settings.subscribe_area_enable %}
<!--====================  newsletter area ====================-->
<div class="newsletter-area" id="section-{{ section.id }}">
<div class="{% if section.settings.section_width == 'full_width' %}container-fluid {% elsif section.settings.section_width == 'box_width' %}container-fluid section-padding-1{% elsif section.settings.section_width == 'default' %}container default {% endif %}">
 <div class="row border_wrap">
      <div class="col-lg-8 offset-lg-2 col-md-12 col-12">
        <div class="newsletter-wrapper">
          
          {% if section.settings.section_title != '' or section.settings.section_sub_title != '' %}
          <div class="section-title {{ section.settings.title_align }} pb-60">
            {% if section.settings.section_title != '' %}
            <h2>{{ section.settings.section_title }}</h2>
            {% endif %}

            {% if section.settings.section_sub_title != '' %}
            <p>{{ section.settings.section_sub_title }}</p>
            {% endif %}
          </div>
          {% endif %}

          <div class="newsletter-form">
            <form action="{{ settings.newsletter_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">
                <div id="mc-form" class="mc-form subscribe-form" >
                  <input type="email" value="" name="EMAIL" class="email email-box" placeholder="{{ settings.email_placeholder }}" required>
                  <button id="mc-embedded-subscribe" type="submit">SUBSCRIBE</button>
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--====================  End of newsletter area  ====================-->
{% endif %} 



{% if section.settings.section_title_custom_color %}
<style>
  #section-{{ section.id }} .section-title h2{
    color: {{ section.settings.section_title_color }};
    font-size:{{ section.settings.section_title_font_size }}px;
  }

  #section-{{ section.id }} .section-title p{
    color: {{ section.settings.section_subtitle_color }};
    font-size:{{ section.settings.section_des_font_size }}px;
  }
</style>
{% endif %}



{%- style -%}
  #section-{{ section.id }}{
    {%- for block in section.blocks -%}
    {%- case block.type -%}
    {%- when 'section_margin' -%}
    margin-top: {{ block.settings.section_margin_top }}px;
    margin-bottom: {{ block.settings.section_margin_bottom }}px;
    {%- when 'section_padding' -%}
    padding-top: {{ block.settings.section_padding_top }}px;
    padding-bottom: {{ block.settings.section_padding_bottom }}px;
    {%- when 'section_background' -%}    
    background: {{ block.settings.section_bg_color }} 
      {%- if block.settings.section_bg_image -%}url("{{ block.settings.section_bg_image | img_url: 'master' }}"){%- endif -%} no-repeat scroll center center / cover;
    {%- endcase -%}
    {%- endfor -%}
  }
  @media (min-width: 768px) and (max-width: 991px) {
    #section-{{ section.id }}{
      {%- for block in section.blocks -%}
      {% case block.type %}
      {%- when 'section_margin' -%}
      margin-top: {{ block.settings.section_margin_top_md }}px;
      margin-bottom: {{ block.settings.section_margin_bottom_md }}px;
      {%- when 'section_padding' -%}
      padding-top: {{ block.settings.section_padding_top_md }}px;
      padding-bottom: {{ block.settings.section_padding_bottom_md }}px;
      {%- endcase -%}
      {%- endfor -%}
    }
  }
  @media (max-width: 767px) {
    #section-{{ section.id }}{
      {%- for block in section.blocks -%}
      {%- case block.type -%}
      {%- when 'section_margin' -%}
      margin-top: {{ block.settings.section_margin_top_xs }}px;
      margin-bottom: {{ block.settings.section_margin_bottom_xs }}px;
      {%- when 'section_padding' -%}
      padding-top: {{ block.settings.section_padding_top_xs }}px;
      padding-bottom: {{ block.settings.section_padding_bottom_xs }}px;
      {%- endcase -%}
      {%- endfor -%}
    }
  }
{%- endstyle -%}



{% schema %}
  {
    "name": "Newsletter Area",
    "settings": [
      {
        "type": "checkbox",
        "id": "subscribe_area_enable",
        "label": "Show Subacribe Area",
        "default": true
      },
              {
                "type": "select",
                "id": "section_width",
                "label": "Section Width",
                "options":[
                      {
                          "label": "Full Width",
                          "value": "full_width"
                      },
                      {
                          "label": "Box Width",
                          "value": "box_width"
                      },
                      {
                          "label": "Default Width",
                          "value": "default"
                      }
                  ],
                  "default": "default"
              },

		{
			"type": "header",
            "content": "Section Title"
        },
		{
            "type": "text",
            "id": "section_title",
            "label": "Title",
            "default": "New Blog Posts"
        },
		{
            "type": "textarea",
            "id": "section_sub_title",
            "label": "Subtitle",
            "default": "Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical"
        },
        {
          "type": "checkbox",
          "id": "section_title_custom_color",
          "label": "Section Title Style Enable",
          "default": false
        },
        {
          "type": "color",
          "id": "section_title_color",
          "label": "Title Color",
          "default": "#1f2226"
        },
        {
          "type": "color",
          "id": "section_subtitle_color",
          "label": "Subtitle Color",
          "default": "#5a5a5a"
        },
			{
                "type": "select",
                "id": "title_align",
                "label": "Title Align",
                "options":[
                      {
                          "label": "Text Left",
                          "value": "text-left"
                      },
                      {
                          "label": "Text Center",
                          "value": "text-center"
                      },
                      {
                          "label": "Text Right",
                          "value": "text-right"
                      }
                  ],
                  "default": "text-center"
              },        
              {
                "type": "text",
                "id": "section_title_font_size",
                "label": "Font Size: Font Size",
                "default": "30",
                "info": "Section Title Font Size"
              },              
			  {
                "type": "text",
                "id": "section_des_font_size",
                "label": "Font Size: Font Size",
                "default": "14",
                "info": "Section Description Font Size"
              }

	],
	"blocks":[
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablate Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 30
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 35
			},
			{
			  "type": "header",
			  "content": "Tablate Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 30
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 35
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 15
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 20
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }


	],
	"presets": [
		{
		  "name": "Newsletter Area",
		  "category": "6. Service"
		}
	]
  }
{% endschema %}



